extends ../_layouts/patio-doors.pug

append variables
    - section = "Performance"
    - subsection = "Durability & Impact"

block head
    +head(headData.patioDoors.durabilityImpact)

prepend container
    +subnav(patioDoorsSections)
    +subnav(patioDoorsSections, true)
    +hero(patioDoorsDurabilityImpact.hero)

block content
    +inspiration(patioDoorsDurabilityImpact.inspiration)

prepend footer
    +next(patioDoorsDurabilityImpact.next)
