extends ../_layouts/patio-doors.pug

append variables
    - bodyClass = "overview"
    - section = "Overview"

block head
    +head(headData.patioDoors.overview)

prepend container
    +hero(patioDoorsOverview.hero)
    +intro(patioDoorsOverview.intro)

block content
    +inspiration(patioDoorsOverview.inspiration)
    +outro(patioDoorsOverview.outro)

prepend footer
    +next(patioDoorsOverview.next)
