extends ../_layouts/interior-doors.pug

append variables
    - section = "Performance"
    - subsection = "Noise Cancelling"

block head
    +head(headData.interiorDoors.noiseCancelling)

prepend container
    +subnav(interiorDoorsSections)
    +subnav(interiorDoorsSections, true)
    +hero(interiorDoorsNoiseCancelling.hero)

block content
    +inspiration(interiorDoorsNoiseCancelling.inspiration)

prepend footer
    +next(interiorDoorsNoiseCancelling.next)
