extends ../_layouts/interior-doors.pug

append variables
    - section = "Performance"
    - subsection = "Safety"

block head
    +head(headData.interiorDoors.safety)

prepend container
    +subnav(interiorDoorsSections)
    +subnav(interiorDoorsSections, true)
    +hero(interiorDoorsSafetySecurity.hero)

block content
    +inspiration(interiorDoorsSafetySecurity.inspiration)

prepend footer
    +next(interiorDoorsSafetySecurity.next)
