@font-face {
    font-family: "lowes-doors-windows";
    src: url("../fonts/lowes-doors-windows.eot");
    src: url("../fonts/lowes-doors-windows.eot?#iefix") format("eot"),
    url("../fonts/lowes-doors-windows.woff2") format("woff2"),
    url("../fonts/lowes-doors-windows.woff") format("woff"),
    url("../fonts/lowes-doors-windows.ttf") format("truetype"),
    url("../fonts/lowes-doors-windows.svg#lowes-doors-windows") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*="icon-"] {
    display: block;
    line-height: 0.5;
}

[class^="icon-"]::before,
[class*="icon-"]::before {
    display: inline-block;
    font-family: "lowes-doors-windows", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before { content: "\EA01" }
.icon-arrow-up:before { content: "\EA02" }
.icon-arrow:before { content: "\EA03" }
.icon-calendar:before { content: "\EA04" }
.icon-check:before { content: "\EA05" }
.icon-checkmark-hollow:before { content: "\EA06" }
.icon-checkmark:before { content: "\EA07" }
.icon-closing:before { content: "\EA08" }
.icon-dashed-cube:before { content: "\EA09" }
.icon-depth-entry-interior:before { content: "\EA0A" }
.icon-depth-garage:before { content: "\EA0B" }
.icon-depth-patio:before { content: "\EA0C" }
.icon-depth-windows:before { content: "\EA0D" }
.icon-design:before { content: "\EA0E" }
.icon-fan:before { content: "\EA0F" }
.icon-gears:before { content: "\EA10" }
.icon-grid:before { content: "\EA11" }
.icon-grille-colonial:before { content: "\EA12" }
.icon-grille-diamond:before { content: "\EA13" }
.icon-grille-prairie:before { content: "\EA14" }
.icon-hammer:before { content: "\EA15" }
.icon-handing-entry-interior:before { content: "\EA16" }
.icon-height-entry-interior:before { content: "\EA17" }
.icon-height-garage:before { content: "\EA18" }
.icon-height-patio:before { content: "\EA19" }
.icon-height-width-entry-interior:before { content: "\EA1A" }
.icon-height-windows:before { content: "\EA1B" }
.icon-house:before { content: "\EA1C" }
.icon-location:before { content: "\EA1D" }
.icon-logo-jeldwen:before { content: "\EA1E" }
.icon-logo-lowes:before { content: "\EA1F" }
.icon-logo-masonite:before { content: "\EA20" }
.icon-logo-pella:before { content: "\EA21" }
.icon-logo-reliabilt:before { content: "\EA22" }
.icon-logo-thermatru:before { content: "\EA23" }
.icon-logo-western-reflections:before { content: "\EA24" }
.icon-material:before { content: "\EA25" }
.icon-measurements:before { content: "\EA26" }
.icon-nut:before { content: "\EA27" }
.icon-palette:before { content: "\EA28" }
.icon-palm-house:before { content: "\EA29" }
.icon-performance:before { content: "\EA2A" }
.icon-picture:before { content: "\EA2B" }
.icon-raincloud:before { content: "\EA2C" }
.icon-ruler-pencil:before { content: "\EA2D" }
.icon-scratched:before { content: "\EA2E" }
.icon-snowflake:before { content: "\EA2F" }
.icon-squirt-bottle:before { content: "\EA30" }
.icon-style-entry:before { content: "\EA31" }
.icon-style-interior:before { content: "\EA32" }
.icon-style-patio:before { content: "\EA33" }
.icon-style-windows:before { content: "\EA34" }
.icon-thermometer:before { content: "\EA35" }
.icon-type-entry:before { content: "\EA36" }
.icon-type-garage:before { content: "\EA37" }
.icon-type-interior:before { content: "\EA38" }
.icon-type-patio:before { content: "\EA39" }
.icon-type-windows:before { content: "\EA3A" }
.icon-vest:before { content: "\EA3B" }
.icon-width-entry-interior:before { content: "\EA3C" }
.icon-width-garage:before { content: "\EA3D" }
.icon-width-patio:before { content: "\EA3E" }
.icon-width-windows:before { content: "\EA3F" }
.icon-window:before { content: "\EA40" }
