extends ../_layouts/entry-doors.pug

append variables
    - section = "Style"
    - subsection = "Appearance"

block head
    +head(headData.entryDoors.appearance)

prepend container
    +subnav(entryDoorsSections)
    +subnav(entryDoorsSections, true)
    +hero(entryDoorsAppearance.hero)

block content
    +inspiration(entryDoorsAppearance.inspiration)

prepend footer
    +next(entryDoorsAppearance.next)
