extends ../_layouts/entry-doors.pug

append variables
    - section = "Performance"
    - subsection = "Energy Efficiency"

block head
    +head(headData.entryDoors.energyEfficiency)

prepend container
    +subnav(entryDoorsSections)
    +subnav(entryDoorsSections, true)
    +hero(entryDoorsEnergyEfficiency.hero)

block content
    +inspiration(entryDoorsEnergyEfficiency.inspiration)

prepend footer
    +next(entryDoorsEnergyEfficiency.next)
