extends ../_layouts/entry-doors.pug

append variables
    - section = "Material"
    - subsection = "Fiberglass"

block head
    +head(headData.entryDoors.fiberglass)

prepend container
    +subnav(entryDoorsSections)
    +subnav(entryDoorsSections, true)
    +hero(entryDoorsFiberglass.hero)

block content
    +inspiration(entryDoorsFiberglass.inspiration)

prepend footer
    +next(entryDoorsFiberglass.next)
