extends ../_layouts/entry-doors.pug

append variables
    - section = "Style"
    - subsection = "Finishing Touches"

block head
    +head(headData.entryDoors.finishingTouches)

prepend container
    +subnav(entryDoorsSections)
    +subnav(entryDoorsSections, true)
    +hero(entryDoorsFinishingTouches.hero)

block content
    +inspiration(entryDoorsFinishingTouches.inspiration)

prepend footer
    +next(entryDoorsFinishingTouches.next)
