extends ../_layouts/entry-doors.pug

append variables
    - bodyClass = "overview"
    - section = "Overview"

block head
    +head(headData.entryDoors.overview)

prepend container
    +hero(entryDoorsOverview.hero)
    +intro(entryDoorsOverview.intro)

block content
    +inspiration(entryDoorsOverview.inspiration)
    +outro(entryDoorsOverview.outro)

prepend footer
    +next(entryDoorsOverview.next)
