extends ../_layouts/entry-doors.pug

append variables
    - section = "Performance"
    - subsection = "Safety & Security"

block head
    +head(headData.entryDoors.safetySecurity)

prepend container
    +subnav(entryDoorsSections)
    +subnav(entryDoorsSections, true)
    +hero(entryDoorsSafetySecurity.hero)

block content
    +inspiration(entryDoorsSafetySecurity.inspiration)

prepend footer
    +next(entryDoorsSafetySecurity.next)
