extends ../_layouts/entry-doors.pug

append variables
    - section = "Type"
    - subsection = "Sidelights & Transoms"

block head
    +head(headData.entryDoors.sidelightsTransoms)

prepend container
    +subnav(entryDoorsSections)
    +subnav(entryDoorsSections, true)
    +hero(entryDoorsSidelightsTransoms.hero)

block content
    +inspiration(entryDoorsSidelightsTransoms.inspiration)

prepend footer
    +next(entryDoorsSidelightsTransoms.next)
