extends ../_layouts/entry-doors.pug

append variables
    - section = "Type"
    - subsection = "Single"

block head
    +head(headData.entryDoors.single)

prepend container
    +subnav(entryDoorsSections)
    +subnav(entryDoorsSections, true)
    +hero(entryDoorsSingle.hero)

block content
    +inspiration(entryDoorsSingle.inspiration)

prepend footer
    +next(entryDoorsSingle.next)
