extends ../_layouts/entry-doors.pug

append variables
    - section = "Material"
    - subsection = "Steel"

block head
    +head(headData.entryDoors.steel)

prepend container
    +subnav(entryDoorsSections)
    +subnav(entryDoorsSections, true)
    +hero(entryDoorsSteel.hero)

block content
    +inspiration(entryDoorsSteel.inspiration)

prepend footer
    +next(entryDoorsSteel.next)
