extends ../_layouts/entry-doors.pug

append variables
    - section = "Material"
    - subsection = "Wood"

block head
    +head(headData.entryDoors.wood)

prepend container
    +subnav(entryDoorsSections)
    +subnav(entryDoorsSections, true)
    +hero(entryDoorsWood.hero)

block content
    +inspiration(entryDoorsWood.inspiration)

prepend footer
    +next(entryDoorsWood.next)
