extends ../_layouts/garage-doors.pug

append variables
    - section = "Material"
    - subsection = "Aluminum"

block head
    +head(headData.garageDoors.aluminum)

prepend container
    +subnav(garageDoorsSections)
    +subnav(garageDoorsSections, true)
    +hero(garageDoorsAluminum.hero)

block content
    +inspiration(garageDoorsAluminum.inspiration)

prepend footer
    +next(garageDoorsAluminum.next)
