extends ../_layouts/garage-doors.pug

append variables
    - section = "Performance"
    - subsection = "Quiet Operation"

block head
    +head(headData.garageDoors.quietOperation)

prepend container
    +subnav(garageDoorsSections)
    +subnav(garageDoorsSections, true)
    +hero(garageDoorsQuietOperation.hero)

block content
    +inspiration(garageDoorsQuietOperation.inspiration)

prepend footer
    +next(garageDoorsQuietOperation.next)
