extends ../_layouts/garage-doors.pug

append variables
    - section = "Performance"
    - subsection = "Wind Load"

block head
    +head(headData.garageDoors.windLoad)

prepend container
    +subnav(garageDoorsSections)
    +subnav(garageDoorsSections, true)
    +hero(garageDoorsWindLoad.hero)

block content
    +inspiration(garageDoorsWindLoad.inspiration)

prepend footer
    +next(garageDoorsWindLoad.next)
