extends ../_layouts/garage-doors.pug

append variables
    - section = "Material"
    - subsection = "Wood"

block head
    +head(headData.garageDoors.wood)

prepend container
    +subnav(garageDoorsSections)
    +subnav(garageDoorsSections, true)
    +hero(garageDoorsWood.hero)

block content
    +inspiration(garageDoorsWood.inspiration)

prepend footer
    +next(garageDoorsWood.next)
