extends ../_layouts/windows.pug

append variables
    - section = "Performance"
    - subsection = "Energy Efficiency"

block head
    +head(headData.windows.energyEfficiency)

prepend container
    +subnav(windowsSections)
    +subnav(windowsSections, true)
    +hero(windowsEnergyEfficiency.hero)

block content
    +inspiration(windowsEnergyEfficiency.inspiration)

prepend footer
    +next(windowsEnergyEfficiency.next)
