extends ../_layouts/windows.pug

append variables
    - section = "Performance"
    - subsection = "Impact"

block head
    +head(headData.windows.impact)

prepend container
    +subnav(windowsSections)
    +subnav(windowsSections, true)
    +hero(windowsImpact.hero)

block content
    +inspiration(windowsImpact.inspiration)

prepend footer
    +next(windowsImpact.next)
