extends ../_layouts/windows.pug

append variables
    - bodyClass = "overview"
    - section = "Overview"

block head
    +head(headData.windows.overview)

prepend container
    +hero(windowsOverview.hero)
    +intro(windowsOverview.intro)

block content
    +inspiration(windowsOverview.inspiration)
    +outro(windowsOverview.outro)

prepend footer
    +next(windowsOverview.next)
