extends ../_layouts/windows.pug

append variables
    - section = "Performance"
    - subsection = "Safety"

block head
    +head(headData.windows.safety)

prepend container
    +subnav(windowsSections)
    +subnav(windowsSections, true)
    +hero(windowsSafety.hero)

block content
    +inspiration(windowsSafety.inspiration)

prepend footer
    +next(windowsSafety.next)
