@font-face {
    font-family: "DIN Next";
    src: url("../fonts/din-next.eot?#iefix");
    src: url("../fonts/din-next.eot?#iefix") format("eot"),
    url("../fonts/din-next.woff") format("woff"),
    url("../fonts/din-next.ttf") format("truetype"),
    url("../fonts/din-next.svg#din-next") format("svg")
}

@font-face {
    font-family: "DIN Next Medium";
    src: url("../fonts/din-next-medium.eot?#iefix");
    src: url("../fonts/din-next-medium.eot?#iefix") format("eot"),
    url("../fonts/din-next-medium.woff") format("woff"),
    url("../fonts/din-next-medium.ttf") format("truetype"),
    url("../fonts/din-next-medium.svg#din-next-medium") format("svg")
}

@font-face {
    font-family: "DIN Next Bold";
    src: url("../fonts/din-next-bold.eot?#iefix");
    src: url("../fonts/din-next-bold.eot?#iefix") format("eot"),
    url("../fonts/din-next-bold.woff") format("woff"),
    url("../fonts/din-next-bold.ttf") format("truetype"),
    url("../fonts/din-next-bold.svg#din-next-bold") format("svg")
}

@font-face {
    font-family: "DIN Next Black";
    src: url("../fonts/din-next-black.eot?#iefix");
    src: url("../fonts/din-next-black.eot?#iefix") format("eot"),
    url("../fonts/din-next-black.woff") format("woff"),
    url("../fonts/din-next-black.ttf") format("truetype"),
    url("../fonts/din-next-black.svg#din-next-black") format("svg")
}

@font-face {
    font-family: "Helvetica Neue Light";
    src: url("../fonts/helvetica-neue-light.eot?#iefix");
    src: url("../fonts/helvetica-neue-light.eot?#iefix") format("eot"),
    url("../fonts/helvetica-neue-light.woff") format("woff"),
    url("../fonts/helvetica-neue-light.ttf") format("truetype"),
    url("../fonts/helvetica-neue-light.svg#helvetica-neue-light") format("svg")
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helvetica-neue.eot?#iefix");
    src: url("../fonts/helvetica-neue.eot?#iefix") format("eot"),
    url("../fonts/helvetica-neue.woff") format("woff"),
    url("../fonts/helvetica-neue.ttf") format("truetype"),
    url("../fonts/helvetica-neue.svg#helvetica-neue") format("svg")
}

@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("../fonts/helvetica-neue-medium.eot?#iefix");
    src: url("../fonts/helvetica-neue-medium.eot?#iefix") format("eot"),
    url("../fonts/helvetica-neue-medium.woff") format("woff"),
    url("../fonts/helvetica-neue-medium.ttf") format("truetype"),
    url("../fonts/helvetica-neue-medium.svg#helvetica-neue-medium") format("svg")
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../fonts/helvetica-neue-bold.eot?#iefix");
    src: url("../fonts/helvetica-neue-bold.eot?#iefix") format("eot"),
    url("../fonts/helvetica-neue-bold.woff") format("woff"),
    url("../fonts/helvetica-neue-bold.ttf") format("truetype"),
    url("../fonts/helvetica-neue-bold.svg#helvetica-neue-bold") format("svg")
}
